<div style="max-width: 300px; padding: 20px;" class="mat-elevation-z1">
  <div class="mat-title">User details</div>
  <div class="mat-body-1" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>Username</div>
      :
      <div>
        <div>{{user.name}}</div>
        <input type="text" [(ngModel)]="user.name">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>Email</div>
      :
      <div>
        {{user.email}}
      </div>
    </div>
  </div>
  <div>
    <button color="primary" mat-raised-button (click)="resetUserValue()">Reset User Value</button>
  </div>

</div>
