<h3>User Administration</h3>

<div class="mat-body-1">
  User : {{user | json}}
</div>

<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">


  <div *ngFor="let user of currentUsers; let i = index; let even = even; let odd = odd">

    <div
      appHoverDirective
      [ngClass]="{'even-class': even, 'odd-class': odd}"
    > Displaying user with index : {{i}}
    </div>

    <div appHoverDirective
      [ngStyle]="{'border':'1px solid','border-color':even === true ? 'green':'red'}">
      <app-user-details [user]="user"></app-user-details>
    </div>

  </div>

</div>

