<mat-toolbar color="primary">
  <span routerLink="/">My Application</span>

  <span style=" flex: 1 1 auto;"></span>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div routerLink="/harry-potter-list" routerLinkActive="active-link" class="action-link">Harry Potter List</div>
    <div routerLink="/login" routerLinkActive="active-link" class="action-link">Login</div>
  </div>

</mat-toolbar>

<div style="margin: 0 auto;max-width: 1300px">
  <router-outlet></router-outlet>
</div>

